# Arquivos compilados
bin/
*.class

# Arquivos gerados
reports/
logs/
exports/

# Configurações do VS Code
.vscode/
!.vscode/settings.json.example

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp
*.baksrc/com/automacao/estoque/tests/Main.java
src/com/automacao/estoque/tests/Main2.java
src/com/automacao/estoque/service/processamentoService.java
